.wrap-posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post {
    margin-top: 10px;
    background: gainsboro;
    padding: 5px;
}

.post-title {
    text-align: center;
    color: green;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.post-body {
    margin-top: 10px;
    color: blue;
}

.link {
    margin: 10px;
}

.post-width-img {
    display: inline-block;
}